.centerNoBorder {
  text-align: center;
}


.distanceTitle {
    margin-top: 2em;

}

.distanceRules {
    margin-top: 1.5em;
}

.distanceButtons {
    margin-top: 5em;
    margin-bottom: 1em;
    margin-left: 0.5em;
}

.distance {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.textarea {
    width: 10px;
    height: 200px;
}
